.container {
  padding: 24px;

  display: flex;
  flex-direction: column;

  gap: 24px;
}

mat-card {
  padding: 24px;
}

form {
  display: flex;
  flex-direction: column;

  gap: 16px;
}

.spacer {
  flex: 1;
}

table {
  width: 100%;
}